{% extends 'base.html' %}
{% block content %}

<h1>Mountain Details</h1>

        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ mountain.name }}</span>
                <p>State: {{ mountain.state }}</p>
                <p>Date Hiked: {{ mountain.datehiked }}</p>
                <p>Elevation: {{ mountain.elevation }}'</p>
            </div>
            <div class="card-action">
                <a href="{% url 'mountains_update' mountain.id %}">Edit</a>
                <a href="{% url 'mountains_delete' mountain.id %}">Delete</a>
            </div>
        </div>

{% endblock %}