{% extends 'base.html' %}

{% block content %}
    <h1>About the Peakbagger</h1>
    <hr>
    <p>Justin is on a mission to hike New England's 67 4,000' peaks. In 2017, he completed a large chunk of these when hiking 700 miles from Maine to Connecticut on the Appalachian Trail (dates are approximates). Stay tuned for updates. <b>Happy Trails!</b></p>
    <br>
    <div class="img-container">
        <img src="https://media.istockphoto.com/id/178377795/photo/sunrise-landscape-great-smoky-mountains-national-park-gatlinburg-tn.jpg?s=612x612&w=0&k=20&c=liNOzKoRbH2ubNFMGDX5aWlsG-J37PDwRedErQj2fg4=" alt="photo of mountains">
    </div>
{% endblock %}
