{% extends 'base.html' %}

{% block content %}
    <h1>About the Mountain Collector</h1>
    <hr>
    <p>Justin is on a mission to hike New England's 67 4,000 footers. Let me explain. There are 67 mountains in New England with a peak elevation of at least 4,000 feet and Justin is trying to reach the summit of all of them. In 2017, he completed a large chunk of these when hiking 700 miles from Maine to Connecticut on the Appalachian Trail. Stay tuned for the latest mountain collection. Happy Trails!</p>
    <footer>All Rights Reserved, &copy; 2023 Mountain Collector</footer>
{% endblock %}
